
/* general page classes------- */

.centered {
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Sansita+Swashed:wght@700&display=swap');


body {
    background-color: grey;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsvogNBTWxgeylB0b9dZ2eknl8oikAKb-sYg&usqp=CAU");
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
}

.body-cont{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px #000000;
}

#toTop {
    display: none;
    position: fixed;
    bottom: 12px;
    right: 12px;
    z-index: 1;
    border: none;
    outline: none;
    background-color: #2b2a2a;
}

#toTop:hover {
    opacity: 0.8;
    background-color: grey;
    transition: ease-in-out;
    transition-duration: 0.2s;
}

html {
    scroll-behavior: smooth;
}


/* navbar area--------------- */

.navbar{
    box-shadow: 0 0 14px #000000;
}

.nav-name {
    font-family: 'Sansita Swashed', cursive;
    font-size: 25px;
}

.search-bar {
    height: 60px;
    border-radius: 25px;
}

.search-button, .search-button:focus {
    border: hidden;
    outline-color: transparent;
}

.fa-search:hover {
    cursor: pointer;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 2; 
    left: 0;
    top: 0;
    background-color: #2d2e2ec7;
    overflow-x: hidden;
    transition: 0.7s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 12em;
}

.overlay a {
    text-decoration: none;
}

.overlay .close-nav-search {
    position: absolute;
    top: 25px;
    right: 65px;
    font-size: 90px;
}

/*----- main picture section ------*/

.hero-cont {
    margin-top: 63.33px;
}

.header-cont {
    margin-top: 80px;
}


.main-pic {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.4)), 
    url('https://images.pexels.com/photos/2312369/pexels-photo-2312369.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    height: 85vh;
    background-color: rgba(0, 0, 0, 0.801);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.main-pic-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Anton', sans-serif;
}

.profile-pic {
    background-image: url('https://www.chicagotribune.com/resizer/yFMZ9O1PmiLd-Xz1CAgWuuTcyZ0=/1200x0/top/arc-anglerfish-arc2-prod-tronc.s3.amazonaws.com/public/7SDBJS4IGFGABH6J3OF5TWNONE.jpg');
    height: 18em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    background-attachment: fixed;
}

@media screen and (min-width: 1201px) {
    .profile-pic {
        width: 60%;
        height: 20em;
    }
}

@media screen and (min-width: 1601px) {
    .profile-pic {
        width: 60%;
        height: 22em;
    }
}

@media screen and (max-width: 1200px) {
    .profile-pic {
        width: 90%;
        height: 16em;
    }
}

@media screen and (max-width: 800px) {
    .profile-pic {
        width: 95%;
        height: 18em;
    }
}

@media screen and (max-width: 670px) {
    .profile-pic {
        width: 100%;
        height: 15em;
    }
}

.hero-buttons {
    width: 9em;
    color: white;
    border-color: white;
}

.hero-buttons:hover, .hero-buttons:active, .hero-buttons:focus {
    width: 9em;
    color: black;
    border-color: white;
    background-color: white;
    box-shadow: 0 0 0 0.3rem rgba(143, 150, 145, 0.5);
}


/* education section ---------- */

.masters-text {
    max-height: 595px;
    overflow-y: hidden;
}

.btn-link {
    color: rgb(26, 25, 112);
}

.educ-button {
    background-color: #105e1cd2;
    width: 8em;
    border-color: #979e98d2;
}


/* jobs section ----------*/

.job-bg {
    background-color: #2b2a2a;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.work-content {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.work-content::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: rgb(179, 173, 173);
  border: 4px solid rgb(238, 205, 19);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -12px;
}

.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 800px) {
  .timeline::after {
    left: 31px;
  }

  .work-content {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .work-content::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left::after, .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }
}

.content:hover {
    opacity: 1;
    transition: ease-in-out;
    transition-duration: 0.3s;
    color: grey;
    box-shadow:         inset 0 0 14px #000000;
    cursor: pointer;
}

.hide-work {
    display: none;
}

/* skills section --------------- */

.progress {
    height: 50px;
}

@media screen and (min-width: 696px) {
    .progress-bar {
        font-size: 20px;
    }
}


.ai {
    background-color: #ad3a3a;
}

.ai-light {
    background-color: #ad3a3a2c;
}

.front {
    background-color: #998a6a;
}

.front-light {
    background-color: #998a6a41;
}

.microsoft {
    background-color: #3734cf;
}

.microsoft-light {
    background-color: #3734cf36;
}

.analysis {
    background-color: #4c9148;
}
.analysis-light {
    background-color: #4c914838;
}

.retrieval {
    background-color: #4e374c;
}

.retrieval-light {
    background-color: #4e374c3f;
}

/* projects section ----------*/

.project-text {
    word-break: normal;
    height: 150px;
    overflow: hidden;
}

.project-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.project-card:hover {
    border: 1px solid rgb(114, 113, 112);
    box-shadow: 1px 1px 7px 1px rgb(80, 79, 79);
    background-color: rgba(255, 255, 255, 0.9);
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    cursor: pointer; 
}

.project-card a {
    text-decoration: none;
    color: #000000;
}


/* footer ------------- */


.footer-cont a{
    text-decoration: none;
    color: grey;
}

.footer-cont a:hover{
    text-decoration: none;
    color: black;
    transition: 0.7s;
}